<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Deity\BreadcrumbsApi\Api\Data\BreadcrumbInterface" type="Deity\Breadcrumbs\Model\Data\Breadcrumb" />
    <preference for="Deity\BreadcrumbsApi\Api\GetBreadcrumbsInterface" type="Deity\Breadcrumbs\Model\GetBreadcrumbs" />
</config>