<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Deity\WishlistApi\Api\AddProductToWishlistInterface" type="Deity\Wishlist\Model\AddProductToWishlist" />
    <preference for="Deity\WishlistApi\Api\Data\WishlistProductRequestInterface" type="Deity\Wishlist\Model\Data\WishlistProductRequest" />
</config>